.c-item {
  height: 32rem;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.carousel-caption {
  text-align: left;
}

.category {
  display: inline-block;
  background: #6610f2;
  padding: 2px 8px;
  line-height: 1.5;
  font-size: 12px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff !important;
  margin-right: 10px;
  letter-spacing: .2em;
}

@media (max-width: 768px) {
  #carousel-container {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0% !important;
  }
}