{% extends "layout.html" %}
{% load static %}

{% block title %}Category{% endblock  %}

{% block body %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-4 mb-3 order-md-last">
            <div class="position-sticky" style="top: 1rem;">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" id="search-input" type="text" placeholder="Enter category..." 
                            aria-label="Enter search term..." aria-describedby="button-search" />
                            <button class="btn btn-primary" id="search-button" type="button">Go!</button>
                        </div>
                    </div>
                </div>
                {% if article %}
                <div class="card mb-4">
                    <div class="card-header">Might Be Interesting</div>
                    <div class="card-body">
                        <h4 class="fs-5">{{ article.title }}</h4>
                        <p>{{ article.meta_description }}</p>
                         <a href="{% url 'blog:article' article.slug %}">Read more →</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-8 mb-3 ">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for category in categories %}
                <div class="col">
                  <div class="card own-card h-100">
                    <img src="{{ category.image.url }}" class="card-img-top img-fluid" alt="{{ category.name }}">
                    <div class="card-body">
                      <h5 class="card-title" id="{{ category.name }}">{{ category.name }}</h5>
                      <p class="card-text">{{ category.meta_description }}</p>
                      <a href="{% url 'blog:category' category.slug %}" class="btn btn-primary">View</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% include 'partials/footer.html' %}


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('search-input');
        console.log(searchInput)
        const searchButton = document.getElementById('search-button');
        
        searchButton.addEventListener('click', function(event) {
            event.preventDefault();

            let categoryInput = searchInput.value;
            console.log(categoryInput)

            let categoryElement = document.getElementById(categoryInput);
            if (categoryElement) {
                categoryElement.scrollIntoView({behavior: 'smooth'});
            } else {
                alert('Category not found.');
            }

            searchInput.value = '';            
        });
    });

</script>


{% endblock %}