{% extends "layout.html" %}
{% load static %}

{% block title %}{{ article.title }}{% endblock  %}


{% block body %}

<div class="container mt-4">
    <div class="row">
        <!-- Side widgets-->
        <div class="col-md-4 order-md-last">
            <div class="position-sticky" style="top: 1rem;">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        {% include 'partials/search_box.html' %}
                    </div>
                </div>
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Suggested Categories</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <ul class="list-unstyled mb-0">
                                    {% for category in first_half_categories %}
                                    <li><a href="{% url 'blog:category' category.slug %}">{{ category }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="list-unstyled mb-0">
                                    {% for category in second_half_categories %}
                                    <li><a href="{% url 'blog:category' category.slug %}">{{ category }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4 side-widget">
                    <div class="card-header">Description</div>
                    <div class="card-body">
                        <p> {{ article.meta_description }} </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ article.title }} 
                    {% if request.user == article.author %}
                        <a class="fs-4" href="{% url 'blog:edit_article' article.slug %}">Edit</a>
                    {% endif %}
                    </h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on {{ article.publish_date }} by <a href="{% url 'users:profile' article.author.id %}">{{ article.author }}</a></div>
                    <!-- Post categories-->
                    {% for hashtag in hashtags  %}
                        <a class="badge bg-secondary text-decoration-none link-light" href="#">#{{ hashtag.name }}</a>
                    {% endfor %}
                </header>
                
                {% if cover_image %}
                <figure class="mb-4"><img class="img-fluid" src="{{ article.cover_image.url }}" alt="..." /></figure>
                {% endif %}

                <section class="mb-5">
                    {{ article.content | safe }}
                </section>
            </article>
        </div>        
    </div>
</div>

<style>
    img {
        display: block !important;
        height: auto !important;
        max-width: 100% !important;
        border-radius: 0.25rem !important;
    }
</style>


{% endblock body %}