{% extends "layout.html" %}

{% load static %}


{% block body %}
<main class="container my-5">
    <div class="alert alert-danger d-none" id="warning-alert" role="alert">
      You must sign in to add an article. <a href="{% url 'users:login' %}" class="alert-link">Login</a>.
    </div>
    <h2>Add New Article</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media }}

      <div class="row">
        <div class="col-lg-8">
          <p class="form-group">
            {{ form.title.label_tag }} {{ form.title }}
          </p>
          <p class="form-group">
            {{ form.content.label_tag }} {{ form.content }}
          </p>
          <p class="form-group">
            {{ form.meta_description.label_tag }} {{ form.meta_description }}
          </p>
          <p class="form-group">
            {{ form.keywords.label_tag }} {{ form.keywords }}
          </p>
        </div>

        <div class="col-lg-4">
          <p class="form-group">
            {{ form.category.label_tag }} {{ form.category }}
          </p>
          <p class="form-group">
            {{ form.cover_image.label_tag }} {{ form.cover_image }}
          </p>
          <p class="form-group">
            {{ form.status.label_tag }} {{ form.status }}
          </p>
          <p class="form-group">
            {{ form.hashtags.label_tag }} {{ form.hashtags }}
          </p>
        </div>
      </div>
      {% if request.user.is_authenticated %}
      <button type="submit" class="btn btn-success">Save</button>
      {% else %}
      <a href="#" class="btn btn-success" id="button-alert">Save</a>
      {% endif %}
    </form>
</main>

{% include 'partials/footer.html' %}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const button = document.querySelector('#button-alert') 
    button.addEventListener('click', () => {
      setTimeout(closeAlert, 8000)

      const warning = document.querySelector('#warning-alert')
      warning.className = 'alert alert-danger d-block';

      function closeAlert() {
        warning.className = 'alert alert-danger d-none';
      }
    })
  })
</script>

{% endblock %}