{% extends "layout.html" %}

{% load static %}


{% block body %}
<main class="container mt-5">
    <h2>Edit The Article:</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media }}

      <div class="row">
        <div class="col-lg-8">
          <p class="form-group">
            {{ form.title.label_tag }} {{ form.title }}
          </p>
          <p class="form-group">
            {{ form.content.label_tag }} {{ form.content }}
          </p>
          <p class="form-group">
            {{ form.meta_description.label_tag }} {{ form.meta_description }}
          </p>
          <p class="form-group">
            {{ form.keywords.label_tag }} {{ form.keywords }}
          </p>
        </div>

        <div class="col-lg-4">
          <p class="form-group">
            {{ form.category.label_tag }} {{ form.category }}
          </p>
          <p class="form-group">
            {{ form.cover_image.label_tag }} {{ form.cover_image }}
          </p>
          <p class="form-group">
            {{ form.status.label_tag }} {{ form.status }}
          </p>
          <p class="form-group">
            {{ form.hashtags.label_tag }} {{ form.hashtags }}
          </p>
        </div>
      </div>
      
      <button type="submit" class="btn btn-success d-inline">Save</button>
      <a href="{% url 'blog:delete_article' article.slug %}" class="btn btn-danger">Delete Article</a>

    </form>
</main>

{% endblock %}