{% extends "layout.html" %}

{% load static %}


{% block body %}
<main class="container mt-5">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media }}

      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h2>Edit Profile:</h2>
          <p class="form-group">
            {{ form.username.label_tag }} {{ form.username }}
          </p>
          <p class="form-group">
            {{ form.bio.label_tag }} {{ form.bio }}
          </p>
          <p class="form-group">
            {{ form.profile_picture.label_tag }} {{ form.profile_picture }}
          </p>
          {% if user.profile_picture != 'default/profile_photo.jpg' %}
            <a href="{% url 'users:delete_profile_picture' user.id %}" class="d-block mb-3">Delete Profile Picture</a>
          {% endif %}
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </div>
      
    </form>
</main>

{% endblock %}