<div class="container my-2" id="carousel-container">

  <div id="hero-carousel" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">

      <div class="carousel-item c-item active">
        <img src="https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_1280.jpg" class="d-block w-100 c-img" alt="...">
        <div class="carousel-caption top-0 mt-5 d-md-block">
          <div class="row">
            <div class="col-md-6">
              <span class="category mt-5">Food</span>
              <p class="">Admin | January 1, 2022</p>
              <h1 class="display-5 fw-bolder">First slide label</h1>
              <p class="fs-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio modi ea, facere nulla voluptatibus harum consectetur aliquam soluta quae ullam, doloremque quos sapiente amet consequatur sunt suscipit, quas asperiores porro?</p>
              <button class="btn btn-primary px-4 py-2">Read More</button>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item c-item">
        <img src="https://preview.colorlib.com/theme/wordify/images/img_10.jpg" class="d-block w-100 c-img" alt="...">
        <div class="carousel-caption top-0 mt-5 d-md-block">
          <div class="row">
            <div class="col-md-6">
              <span class="category mt-5">Food</span>
              <p class="">Admin | January 1, 2022</p>
              <h1 class="display-5 fw-bolder">First slide label</h1>
              <p class="fs-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio modi ea, facere nulla voluptatibus harum consectetur aliquam soluta quae ullam, doloremque quos sapiente amet consequatur sunt suscipit, quas asperiores porro?</p>
              <button class="btn btn-primary px-4 py-2">Read More</button>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item c-item">
        <img src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg" class="d-block w-100 c-img" alt="...">
        <div class="carousel-caption top-0 mt-5 d-md-block">
          <div class="row">
            <div class="col-md-6">
              <span class="category mt-5">Food</span>
              <p class="">Admin | January 1, 2022</p>
              <h1 class="display-5 fw-bolder">First slide label</h1>
              <p class="fs-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio modi ea, facere nulla voluptatibus harum consectetur aliquam soluta quae ullam, doloremque quos sapiente amet consequatur sunt suscipit, quas asperiores porro?</p>
              <button class="btn btn-primary px-4 py-2">Read More</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
