
{% if articles_with_carousel %}
<div class="container my-2" id="carousel-container">

  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      {% for article in articles_with_carousel %}
      <div class="carousel-item c-item">
        <img src="{{ article.cover_image.url }}" class="d-block w-100 c-img" alt="...">
        <div class="carousel-caption top-0 mt-3 d-md-block">
          <div class="row">
            <div class="col-md-6">
              {% if article.category %}
              <a href="{% url 'blog:category' article.category.slug %}" class="category mt-5">{{ article.category }}</a>
              {% endif %}
              <p class="">{{ article.author }} | {{ article.publish_date }}</p>
              <h1 class="display-5 fw-bolder">{{ article.title }}</h1>
              <p class="fs-6">{{ article.meta_description }}</p>
              <a class="btn btn-primary px-4 py-2" href="{% url 'blog:article' article.slug %}">Read More</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const carouselItems = document.querySelectorAll('.c-item') 
    const firstItem = carouselItems[0]

    firstItem.classList.add('active')
  })
</script>